<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Tableur -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.n7.Tableur.presentation.TableurModelWizardID"
            name="%_UI_TableurModelWizard_label"
            class="fr.n7.Tableur.presentation.TableurModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TableurModelFile.gif">
         <description>%_UI_TableurModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Tableur -->
      <editor
            id="fr.n7.Tableur.presentation.TableurEditorID"
            name="%_UI_TableurEditor_label"
            icon="icons/full/obj16/TableurModelFile.gif"
            extensions="tableur"
            class="fr.n7.Tableur.presentation.TableurEditor"
            contributorClass="fr.n7.Tableur.presentation.TableurActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Tableur -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Traitement.presentation.TraitementModelWizardID"
            name="%_UI_TraitementModelWizard_label"
            class="Traitement.presentation.TraitementModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TraitementModelFile.gif">
         <description>%_UI_TraitementModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Tableur -->
      <editor
            id="Traitement.presentation.TraitementEditorID"
            name="%_UI_TraitementEditor_label"
            icon="icons/full/obj16/TraitementModelFile.gif"
            extensions="traitement"
            class="Traitement.presentation.TraitementEditor"
            contributorClass="Traitement.presentation.TraitementActionBarContributor">
      </editor>
   </extension>

</plugin>
