# "**X" blacklists any file that has X in its path.
**.classpath
**.manifest
**.sonalint
**.metadata
*.class
**.DS_STORE
bin/
**.settings
**.loadpath
tmp/
.tmp
*settings/
local.properties
*.swp
*.bak
*.jar
.factorypath
src-gen/
*.MF

