<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated traitement -->
      <package
            uri="http://www.example.org/traitement"
            class="fr.n7.traitement.TraitementPackage"
            genModel="model/traitement.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated traitement -->
      <package
            uri="http://www.example.org/tableur"
            class="tableur.TableurPackage"
            genModel="model/traitement.genmodel"/>
   </extension>

</plugin>
