<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Tableur -->
      <package
            uri="http://tableur"
            class="fr.n7.Tableur.TableurPackage"
            genModel="model/Tableur.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Tableur -->
      <package
            uri="http://traitement"
            class="Traitement.TraitementPackage"
            genModel="model/Tableur.genmodel"/>
   </extension>

</plugin>
