<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Traitement -->
      <package
            uri="http://traitement"
            class="fr.n7.Traitement.TraitementPackage"
            genModel="model/Traitement.genmodel"/>
   </extension>

</plugin>
